body {
    background-image: url('bg1.jpg');
    background-size: cover;
}

img{
    width: 60px;
    height: auto;
    margin-right: 40px;
    border-radius: 40px;
}

.top{
    display: flex;
}

nav{
    padding-top: 20px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #ddd;
}

.search-box {
    align-items: center;
    margin: 20px;
    margin-left: 600px;
}

.search-box input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    width: 200px;
}

.search-box button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

h1 {
    margin: 20px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #333;
}

p {
    margin: 20px;
    font-size: 18px;
    line-height: 1.5;
}

span.highlight {
    color: #4CAF50;
    font-weight: bold;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#lea {
    margin-left: 15px;
}

#search{
    background: url(https://cdn-icons.flaticon.com/svg/3917/3917061.svg?token=exp=1677482960~hmac=d0f3b2f9e81fc16c2d1307af74ea52fa)no-repeat left center;
    background-size: 20px;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;
}

#facebook,
#twitter,
#instagram{
    height: auto;
    width: 4%;
    padding: 15px;
}